{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sena - Nómina</title>

    <link href="{% static 'polls/css/estilos.css' %}" rel="stylesheet" />
    <link href="{% static 'polls/css/bootstrap.min.css' %}" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'polls/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'polls/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'polls/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'polls/favicon_io/site.webmanifest' %}">

</head>

<body>

    <nav class="navbar  navbar-expand-lg navbar-dark ">
        
        <!--color oscuro:bg-dark -->
        <!-- Brand -->
        <a class="navbar-brand" href="{% url 'polls:index' %}"><img class="logo px-3" src="{% static 'polls/img/Logotipo.jpeg' %}" height="70" width="260"></a>

        <div class="container-fluid">
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Estudiantes
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Registrar</a>
                        <a class="dropdown-item" href="#">Listar Estudiantes</a>
                        
                    </div>
                </li>
                
                    <a class="nav-link" href="{% url 'polls:materia' %}" id="navbardrop" data-toggle="dropdown">
                        Materias
                    </a>
                    
                

                <!-- Dropdown -->
                <li >
                    <a class="nav-link " href="#" >
                        Grupos
                    </a>
                    
                </li>
                
                    <a class="nav-link " href="{% url 'polls:docentes' %}" >
                        Docentes
                    </a>
                    
                <li >
                    <a class="nav-link" href="#">
                        Padre de Familia
                    </a>
                    
                </li>
            
                
                
            </ul>
            
            
    
            
            
        </nav>
        <br>
        
        <div class="card text-dark bg-light mb-3">
            
            <div class="card-body">
                <h5 class="card-title">Listado de Docentes</h5>
                <div class=" row">

                    <div class="col-md-2">
                        <a class="btn btn-success" role="button" href="{% url 'polls:registrar_docentes' %}">Nuevo</a>
                    </div>
                    
                    <div class=" container-fluid col-md-6 offset-md-4">
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-success col-md-2" type="submit">Search</button>
                        </form>
                    </div>
                    

                </div>
                

                <p class="card-text">
                    {% if data %}
                <table class="table table-sm text-dark">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Documento</th>
                            <th>Correo</th>
                            <th>Telefono</th>
                            <th>Materia</th>
                            <th>Rol</th>
                            <th colspan="2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tbody>
                            {% for i in data %}
                            <tr>
                                <td>{{ i.nombre_docente }}</td>
                                <td>{{ i.iddocente }}</td>
                                <td>{{ i.correo_docente }}</td>
                                <td>{{ i.telefono_docente }}</td>
                                <td>{{ i.idmateria }}</td>
                                <td>{{ i.idrol }}</td>
                                <td><a href="{% url 'polls:eliminar_docente' i.iddocente %}"><button type="button" class="btn btn-warning px-3">Eliminar</button></a></td>
                                <td><a href="#" class="btn btn-info px-5 ">Editar</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </tbody>
                </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>

                    
                </nav>
                {% else %}
                no hay datos
                {% endif %}
                </p>
            </div>
        </div>
        </div>


        

    <script src="{% static 'polls/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'polls/js/libreria.js' %}"></script>
    <script src="{% static 'polls/js/jquery-3.6.0.min.js' %}"></script>

    <script src="{% static 'polls/js/popper.min.js' %}"></script>
    <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
</body>
</html>

