{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sena - Nómina</title>

    <link href="{% static 'polls/css/estilos.css' %}" rel="stylesheet" />
    <link href="{% static 'polls/css/bootstrap.min.css' %}" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'polls/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'polls/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'polls/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'polls/favicon_io/site.webmanifest' %}">
    <script src="{% static 'polls/js/bootstrap.bundle.minjs' %}"></script>
    <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'polls/js/popper.min.js' %}"></script>
    <script src="{% static 'polls/js/libreria.js' %}"></script>
    <script src="{% static 'polls/js/jquery-3.6.0.min.js' %}"></script>
    
    

</head>

<body>

    <nav class="navbar dely navbar-expand-lg navbar-dark ">
        <!--color oscuro:bg-dark -->
        <!-- Brand -->
        <a class="navbar-brand px-3" href="{% url 'polls:index' %}"><img class="logo" src="{% static 'polls/img/Logotipo.jpeg' %}" height="70" width="260"></a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link" href="#" id="navbardrop" >
                    Estudiantes
                </a>
                
            </li>
            <li>

                <a class="nav-link " href="{% url 'polls:materia' %}" id="navbardrop" data-toggle="dropdown">
                    Materias
                </a>

            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'polls:jornada' %}"  >
                    Jornadas
                </a>
                
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'polls:rol' %}"  >
                    Roles
                </a>
                
            </li>
               
                
            
            
            <!-- Dropdown -->
            <li class="nav-item ">
                <a class="nav-link " href="{% url 'polls:grupo' %}" >
                    Grupos
                </a>
                
                    
                </div>
            </li>
            
                <a class="nav-link " href="{% url 'polls:docentes' %}" >
                    Docentes
                </a>
                
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Padre de Familia
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Registrar</a>
                    <a class="dropdown-item" href="#">Listar Padres de Familia</a>
                    
                </div>
            </li>
           
            
            
        </ul>

      

    </nav>

    
    
    </div>

    



    
    

    
    
</body>

</html>