{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sena - Nómina</title>

    <link href="{% static 'polls/css/estilos.css' %}" rel="stylesheet" />
    <link href="{% static 'polls/css/bootstrap.min.css' %}" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'polls/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'polls/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'polls/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'polls/favicon_io/site.webmanifest' %}">
    <script src="{% static 'polls/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'polls/js/popper.min.js' %}"></script>
    <script src="{% static 'polls/js/libreria.js' %}"></script>
    <script src="{% static 'polls/js/jquery-3.6.0.min.js' %}"></script>

</head>

<body>

    <nav class="navbar dely navbar-expand-lg navbar-dark ">
        <!--color oscuro:bg-dark -->
        <!-- Brand -->
        <a class="navbar-brand px-3" href="{% url 'polls:index' %}"><img class="logo" src="{% static 'polls/img/Logotipo.jpeg' %}" height="70" width="260"></a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item ">
                <a class="nav-link " href="#">
                    Estudiantes
                </a>
                
            </li>
            
                <a class="nav-link " href="{% url 'polls:materia' %}">
                    Materias
                </a>
                
            

            <!-- Dropdown -->
            <li class="nav-item ">
                <a class="nav-link " href="#" >
                    Grupos
                </a>
                
            </li>
            
            <li class="nav-item ">
                <a class="nav-link " href="{% url 'polls:docentes' %}" >
                    Docentes
                </a>

            </li>
                
                
            <li class="nav-item ">
                <a class="nav-link " href="#" >
                    Padre de Familia
                </a>
                
            </li>
           
            
            
        </ul>

      

    </nav>
    
    
    
      </nav>


    <div class="card text-dark bg-light mb-3">
        
        <div class="card-body">
            <h5 class="card-title">Listado de Materias</h5>


            <div class=" row">

                <div class="col-md-2">
                    <a class="btn btn-success" role="button" href="{% url 'polls:rol_registrar' %}">Nuevo</a>                </div>
                
                <div class=" container-fluid col-md-6 offset-md-4">
                    <form class="d-flex" action="{% url 'polls:buscar_rol' %}" method="post" >
                        {% csrf_token %}
                        <input class="form-control me-2" type="search" name="dato" >
                        <button class="btn btn-success col-md-2" type="submit">Buscar</button>
                    </form>
                </div>
                

            </div>
            
            

            <p class="card-text">
                {% if data %}
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Permisos</th>
                        
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for i in data %}
                    <tr>
                        
                        <td>{{ i.idrol }}</td>
                        <td>{{ i.nombre_rol }}</td>
                        <td>{{ i.permisos_rol }}</td>
                        
                        <td><a href="{% url 'polls:eliminar_rol' i.idrol %}" class="btn btn-warning">Eliminar</a></td>
                        <td><a href="{% url 'polls:editar_rol' i.idrol %}" class="btn btn-info">Editar</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
            {% else %}
            no hay datos
            {% endif %}
            </p>
        </div>
    </div>