{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sena - Nómina</title>

  <link href="{% static 'polls/css/estilos.css' %}" rel="stylesheet" />
  <link href="{% static 'polls/css/bootstrap.min.css' %}" rel="stylesheet" />

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'polls/favicon_io/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'polls/favicon_io/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'polls/favicon_io/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'polls/favicon_io/site.webmanifest' %}">
  <script src="{% static 'polls/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'polls/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'polls/js/popper.min.js' %}"></script>
  <script src="{% static 'polls/js/libreria.js' %}"></script>
  <script src="{% static 'polls/js/jquery-3.6.0.min.js' %}"></script>

</head>

<body>

  <nav class="navbar navbar-expand-sm navbar-dark justify-content-between">
    <!--color oscuro:bg-dark -->
    <!-- Brand -->
    <a class="navbar-brand" href="{% url 'polls:index' %}"><img class="logo"
        src="{% static 'polls/img/Logotipo.jpeg' %}" height="70" width="260"></a>

    <div class="dropdown dropleft float-right">
      <button type="button" class=" dropdown-toggle" data-toggle="dropdown">
        Registrar
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="estudiantes.html">Estudiantes</a>
        <a class="dropdown-item" href="grupos.html">Grupos</a>
        <a class="dropdown-item" href="materias.html">Materias</a>
        <a class="dropdown-item" href="padres de familia.html">Padres de Familia</a>
        <a class="dropdown-item" href="docentes.html">Profesores</a>


      </div>
    </div>



  </nav>
  <br>
  <div class="col-md-7 container bg-dark text-white border-success shadow border border-4 rounded ">
    <form action="{% url 'polls:guardar_rol' %}" class="form-horizontal mitad row "  method="post">
      {% csrf_token %}


      <h2 class="container text-center">Formulario de Registro</h2>

      
      <div class=" col-md-12 form-group">

        <label class="control-label">Nombre Rol</label>

        <div>

          <input type="text" class="form-control" name="nombre_rol" />

        </div>

      </div>

      <div class=" col-md-12 form-group">

        <label class="control-label">Permisos</label>

        <div>

          <input type="text" class="form-control" name="permisos_rol" />

        </div>

      </div>




      
      <div class="col-md-5 container  ">



        <button  class="btn btn-success ">Registrar</button>
        


      </div>

    </form>

  </div>





</body>

</html>